<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="nome" name="nome" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="senha" name="senha" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width">Login</button>
  </form>

  <p class="register-link">
    Não tem uma conta?
    <a [routerLink]="['/login-cadastro']">Cadastre-se aqui</a>
  </p>
</div>
