<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Meu Projeto</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pessoa-consulta" routerLinkActive="active">Pessoa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fluxograma" routerLinkActive="active">Fluxograma</a>
      </li>
      <!-- Exibe "Login" se não autenticado -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuthenticated()" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <!-- Exibe "Logout" se autenticado -->
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated()" (click)="logout()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="conteudo">
  <router-outlet></router-outlet> <!-- Aqui o conteúdo da rota filha será renderizado -->
</div>
